<html>
  <head>
    <title>{empresa}</title>
    <meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
		<div style="text-align: center; width:100%;">{header}</div>
		<table>
			<tr>
				<td style="width: 110px; text-align: center;">
					<div style="width: 110px; text-align: center;">
						<img src="cid:logo" alt="{url}" width="230" height="105"/>
					</div>
				</td>
				<td style="width: 90%; margin-left: 20px;">
					<div style="width: 90%; margin-left: 20px;">
						Estimado adminsitrativo: 
						<br/>
						<br/>
            Por este medio le notifacamos que se ha <span style="float: right; font-weight: bold; color: rgb(94, 161, 216); font-family: sans-serif;">{razonSocial}</span> una orden de compra ya solicitada al proveedor. 
						<br/>
						<br/>
            Por favor verificar el archivo anexo que le hacemos llegar <span style="color: rgb(124, 131, 216); font-family: sans-serif;">{tipo}</span> para verificar el tramite administrativo correspondiente.
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						Saludos cordiales,
						<br/>
						<br/>
						<span style="font-weight: bold; color: rgb(0, 0, 0); font-family: sans-serif;">{solucion}</span>
            <p style="font-size: 12px;color: rgb(0, 0, 0); font-family: sans-serif; float: right;">
              SOLUCIONES WEB ... <span style="font-size: 14px;font-weight:bold;">IMOX</span> ...<br/>
              Contacto: <span style="font-weight:bold;">449-209-05-86, imox.soluciones.web@gmail.com</span>
            </p>
					</div>
				</td>
			</tr>
		</table>
		<div style="text-align: center; width:100%;">{footer}</div>
  </body>
</html>
